body{
margin:0;
font-family:'Poppins',sans-serif;
background:#f4f1ed;
}

/* CUSTOMER WELCOME */
.hero{
height:100vh;
background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
url("https://images.unsplash.com/photo-1509042239860-f550ce710b93");
background-size:cover;
background-position:center;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
color:white;
text-align:center;
}

.hero h1{font-size:42px;margin-bottom:10px;}
.hero p{font-size:18px;margin-bottom:25px;}

button{
background:#c49a6c;
border:none;
padding:12px 20px;
border-radius:12px;
color:white;
font-weight:600;
cursor:pointer;
}

button:hover{opacity:0.9;}

header{
background:#3e2723;
color:white;
padding:20px;
text-align:center;
}

.container{padding:20px;}

.card{
background:white;
padding:20px;
border-radius:20px;
margin-bottom:15px;
box-shadow:0 8px 20px rgba(0,0,0,0.08);
}

.menu-item{
display:flex;
justify-content:space-between;
margin-bottom:10px;
}

.login-box{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#3e2723;
}

.login-card{
background:white;
padding:30px;
border-radius:20px;
width:300px;
text-align:center;
}

input{
width:100%;
padding:10px;
margin-bottom:15px;
border-radius:10px;
border:1px solid #ccc;
}

.status-new{color:red;font-weight:bold;}
.status-accepted{color:orange;font-weight:bold;}
.status-done{color:green;font-weight:bold;}
